<VirtualHost *:80>

    <Directory {{item.doc_root}}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    DocumentRoot {{item.doc_root}}
	ServerName {{item.server_name}}

	{% if item.server_aliases is defined and item.server_aliases|length > 0 %}
	ServerAlias {% for alias in item.server_aliases %}{{alias}} {% endfor %}
	{% endif %}

	{% if item.server_aliases_http is defined and item.server_aliases_http|length > 0 %}
	ServerAlias {% for alias in item.server_aliases_http %}{{alias}} {% endfor %}
	{% endif %}

</VirtualHost>
