<!DOCTYPE html>
<html>
    <head>
        <title>This is {{host_name}}</title>
    </head>

    <body>
        <div style="margin: 1em auto; width: 50%">
            <h1>{{greeting}}</h1>
            <img src="leanIX_solo.png" alt="leanIX logo" style="width: 50%"/>
        </div>
    </body>
</html>